@{
    ViewData["Title"] = "Start Test";

    int TestId = 0;
    if (ViewData.ContainsKey("TestId"))
    {
        int.TryParse(ViewData["TestId"].ToString(), out TestId);
    }

    int UserId = 0;
    if (ViewData.ContainsKey("UserId"))
    {
        int.TryParse(ViewData["UserId"].ToString(), out UserId);
    }

    string CurrQuestionText =
        CurrQuestionText = ViewData["CurrQuestionText"].ToString();

    int CurrQuestionStage = 0;
    if (ViewData.ContainsKey("CurrQuestionStage"))
    {
        int.TryParse(ViewData["CurrQuestionStage"].ToString(), out CurrQuestionStage);
    }

    int StagesCount = 0;
    if (ViewData.ContainsKey("StagesCount"))
    {
        int.TryParse(ViewData["StagesCount"].ToString(), out StagesCount);
    }

    int CurrQuestionId = 0;
    if (ViewData.ContainsKey("CurrQuestionId"))
    {
        int.TryParse(ViewData["CurrQuestionId"].ToString(), out CurrQuestionId);
    }

    string QuestionIds = ViewData["QuestionIds"].ToString();

    var currQuestionUserAnswersOptions =
        (IEnumerable<TrainingProject.Web.Models.UserAnswerOptionModel>)
        ViewData["CurrQuestionUserAnswersOptions"];

    string dangerClass = string.Empty;
    @if (ViewData["SubmitButton_1"].ToString() == "Finish")
    {
        dangerClass = "btn btn-danger";
    }

    var questionIds = QuestionIds
       .Split(",")
       .Select(x => int.Parse(x));

    string currentClass = "btn btn-dark";
    int stage = 1;
}

<div id="results">
    <h4>@CurrQuestionStage / @StagesCount</h4>
    <form asp-action="StartTest" asp-controller="Test"
          data-ajax="true" data-ajax-method="POST"
          data-ajax-mode="replace" data-ajax-update="#results"
          data-ajax-success="success">

        @foreach (var item in questionIds)
        {
            if (stage == CurrQuestionStage)
            {
                <input type="submit"
                       name="SubmitButton@(item)"
                       value="@(stage++)" class="btn btn-primary @currentClass" />
            }
            else
            {
                <input type="submit"
                       name="SubmitButton@(item)"
                       value="@(stage++)" class="btn btn-primary" />
            }
        }

        <pre class="question-text-block"><span class="questionStyle">@CurrQuestionText</span></pre>

        @foreach (var item in currQuestionUserAnswersOptions)
        {
            if (item.isValid)
            {
                <div class="form-group">
                    <input data-val="true"
                           id="@item.AnswerOptionId"
                           name="@item.AnswerOptionId"
                           type="checkbox"
                           value="true"
                           checked />
                    <label asp-for="@item.AnswerOptionId">@item.AnswerOption.Text</label>
                    <input name="@item.AnswerOptionId" type="hidden" value="false" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input data-val="true"
                           id="@item.AnswerOptionId"
                           name="@item.AnswerOptionId"
                           type="checkbox"
                           value="true" />
                    <label asp-for="@item.AnswerOptionId">@item.AnswerOption.Text</label>
                    <input name="@item.AnswerOptionId" type="hidden" value="false" />
                </div>
            }
        }

        <div class="form-group">
            <input type="hidden" asp-for="@TestId" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@StagesCount" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@UserId" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@CurrQuestionStage" />
        </div>

        <div class="form-group">
            <input type="hidden" asp-for="@QuestionIds" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@CurrQuestionId" />
        </div>

        <div class="form-group">
            @if (!string.IsNullOrWhiteSpace(ViewData["SubmitButton_2"].ToString()) && StagesCount > 1)
            {
                <input type="submit" name="SubmitButton_2" id="SubmitButton_2" value="@ViewData["SubmitButton_2"]" class="btn btn-primary" />
            }

            <input type="submit" name="SubmitButton_1" id="SubmitButton_1" value="@ViewData["SubmitButton_1"]" class="btn btn-primary @dangerClass" />
        </div>
    </form>
</div>
