@{
    ViewData["Title"] = "Start Test";

    int TestId = 0;
    if (ViewData.ContainsKey("TestId"))
    {
        int.TryParse(ViewData["TestId"].ToString(), out TestId);
    }

    int UserId = 0;
    if (ViewData.ContainsKey("UserId"))
    {
        int.TryParse(ViewData["UserId"].ToString(), out UserId);
    }

    string CurrQuestionText = ViewData["CurrQuestionText"].ToString();

    string CurrQuestionType = ViewData["CurrQuestionType"].ToString();

    int CurrQuestionStage = 0;
    if (ViewData.ContainsKey("CurrQuestionStage"))
    {
        int.TryParse(ViewData["CurrQuestionStage"].ToString(), out CurrQuestionStage);
    }

    int StagesCount = 0;
    if (ViewData.ContainsKey("StagesCount"))
    {
        int.TryParse(ViewData["StagesCount"].ToString(), out StagesCount);
    }

    int CurrQuestionId = 0;
    if (ViewData.ContainsKey("CurrQuestionId"))
    {
        int.TryParse(ViewData["CurrQuestionId"].ToString(), out CurrQuestionId);
    }

    string UserQuestionIds = ViewData["UserQuestionIds"].ToString();
    var questionIds = UserQuestionIds.Split(",").Select(x => int.Parse(x));

    var CurrQuestionUserAnswers = (IEnumerable<TrainingProject.Web.Models.UserAnswerModel>) ViewData["CurrQuestionUserAnswerss"];


    string dangerClass = string.Empty;
    @if (ViewData["SubmitButton_1"].ToString() == "Finish")
    {
        dangerClass = "btn btn-danger";
    }

    string currentClass = "btn btn-dark";
    int stage = 1;
}

<div id="results">
    <h4>@CurrQuestionStage / @StagesCount</h4>
    <form asp-action="StartTest" asp-controller="Test"
          data-ajax="true" data-ajax-method="POST"
          data-ajax-mode="replace" data-ajax-update="#results"
          data-ajax-success="success">

        @foreach (var item in questionIds)
        {
            if (stage == CurrQuestionStage)
            {
                <input type="submit"
                       name="SubmitButton@(item)"
                       value="@(stage++)" class="btn btn-primary @currentClass" />
            }
            else
            {
                <input type="submit"
                       name="SubmitButton@(item)"
                       value="@(stage++)" class="btn btn-primary" />
            }
        }

        <pre class="question-text-block"><span class="questionStyle">@CurrQuestionText</span></pre>

        @if (CurrQuestionType == QuestionTypes.Option)
        {
            @foreach (var item in CurrQuestionUserAnswers)
            {
                if (item.isValid)
                {
                    <div class="form-group">
                        <input data-val="true"
                               id="AnswerId@(item.AnswerId)"
                               name="AnswerId@(item.AnswerId)"
                               type="checkbox"
                               value="true"
                               checked />
                        <input name="AnswerId@(item.AnswerId)" type="hidden" value="false" />
                        <label asp-for="AnswerId+@item.AnswerId">@item.Answer.Text</label>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input data-val="true"
                               id="AnswerId@(item.AnswerId)"
                               name="AnswerId@(item.AnswerId)"
                               type="checkbox"
                               value="true" />
                        <input name="AnswerId@(item.AnswerId)" type="hidden" value="false" />
                        <label asp-for="AnswerId+@item.AnswerId">@item.Answer.Text</label>
                    </div>
                }
            }
        }
        else if (CurrQuestionType == QuestionTypes.Text && CurrQuestionUserAnswers.Count() == 1)
        {
            foreach (var item in CurrQuestionUserAnswers)
            {
                <div class="form-group">
                    <label asp-for="@item." class="control-label"></label>
                    <input type="text" id="AnswerId@(item.AnswerId)" name="AnswerId@(item.AnswerId)" value="@item.Text">
                </div>
            }
        }

        <div class="form-group">
            <input type="hidden" asp-for="@TestId" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@StagesCount" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@UserId" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@CurrQuestionStage" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@CurrQuestionType" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@UserQuestionIds" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="@CurrQuestionId" />
        </div>

        <div class="form-group">
            @if (!string.IsNullOrWhiteSpace(ViewData["SubmitButton_2"].ToString()) && StagesCount > 1)
            {
                <input type="submit" name="SubmitButton_2" id="SubmitButton_2" value="@ViewData["SubmitButton_2"]" class="btn btn-primary" />
            }

            <input type="submit" name="SubmitButton_1" id="SubmitButton_1" value="@ViewData["SubmitButton_1"]" class="btn btn-primary @dangerClass" />
        </div>
    </form>
</div>
