@model IEnumerable<TrainingProject.Web.Models.AnswerModel>

@{
    ViewData["Title"] = "Edit Question";

    int testId = 0;
    if (ViewData.ContainsKey("TestId"))
    {
        int.TryParse(ViewData["TestId"].ToString(), out testId);
    }

    int questionId = 0;
    if (ViewData.ContainsKey("QuestionId"))
    {
        int.TryParse(ViewData["QuestionId"].ToString(), out questionId);
    }

    string questionType = string.Empty;
    if (ViewData.ContainsKey("QuestionType"))
    {
        questionType = ViewData["QuestionType"].ToString();
    }

    int answersCount = 0;
    if (ViewData.ContainsKey("AnswersCount"))
    {
        int.TryParse(ViewData["AnswersCount"].ToString(), out answersCount);
    }
}

<h5>@questionId. @ViewData["QuestionText"]</h5>
<p>
    @if (questionType == QuestionTypes.Text && answersCount < 1)
    {
        @Html.ActionLink("Create new Answer", "CreateAnswer", "Test",
            new { @TestId = testId, @QuestionId = questionId, @QuestionType = questionType }, new { @class = "btn btn-primary" })
    }
    else if (questionType == QuestionTypes.Option)
    {
        @Html.ActionLink("Create new Answer", "CreateAnswer", "Test",
              new { @TestId = testId, @QuestionId = questionId, @QuestionType = questionType }, new { @class = "btn btn-primary" })
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            @if (questionType == QuestionTypes.Option)
            {
                <th>
                    @Html.DisplayNameFor(model => model.IsValid)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                @if (questionType == QuestionTypes.Option)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.IsValid)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to Questions", "EditTest", "Test", new { @TestId = testId }, new { @class = "btn btn-secondary" })
</div>