@model IEnumerable<TrainingProject.Web.Models.UserTestModel>

@{
    ViewData["Title"] = "Tests";
}

<table class="table">
    <thead>
    <h4>Tests</h4>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>

            @if (item.Status == TestStatus.NotStarted)
            {
                <td>
                    Not Started
                    @Html.ActionLink("Start", "StartTest", "Test", new { @TestId = item.TestId }, new { @class = "btn btn-primary" })
                </td>
            }
            else if (item.Status == TestStatus.NotFinished)
            {
                <td>
                    Not Finished
                    @Html.ActionLink("Continue", "StartTest", "Test", new { @TestId = item.TestId }, new { @class = "btn btn-primary" })
                </td>
            }
            else if (item.Status == TestStatus.Finished)
            {
                <td>
                    Finished, Your points: @item.Points
                </td>
            }
        </tr>
        }
    </tbody>
</table>
