@model IEnumerable<TestSystem.Web.Models.TopicModel>

@{

    bool isAdminAuthentificated = (await AuthorizationService.AuthorizeAsync(User, "OnlyForAdmins")).Succeeded;
    bool isUserAuthentificated = (await AuthorizationService.AuthorizeAsync(User, "OnlyForUsers")).Succeeded;

    ViewData["Title"] = "Home Page";

    int? currentTopicId = null;
    if (ViewData.ContainsKey("TopicId"))
    {
        currentTopicId = int.Parse(ViewData["TopicId"].ToString());
    }

    int page = 1;
    if (ViewData.ContainsKey("Page"))
    {
        page = int.Parse(ViewData["Page"].ToString());
    }

    int size = 5;
    if (ViewData.ContainsKey("Size"))
    {
        size = int.Parse(ViewData["Size"].ToString());
    }

    int topicsCount = 0;
    if (ViewData.ContainsKey("TopicsCount"))
    {
        topicsCount = int.Parse(ViewData["TopicsCount"].ToString());
    }

    string search = string.Empty;
    if (ViewData.ContainsKey("Search"))
    {
        search = ViewData["Search"].ToString();
    }

    string searchParam = string.Empty;
    if (!string.IsNullOrWhiteSpace(search))
    {
        searchParam = $"Search={search}";
    }

    TopicType? topicType = null;
    TopicType? topicType2 = null;
    string topicTypeText = string.Empty;
    string topicTypeText2 = string.Empty;
    if (ViewData.ContainsKey("TopicType"))
    {
        topicType = (TopicType)Enum.Parse(typeof(TopicType), ViewData["TopicType"].ToString());
        topicTypeText = ViewData["TopicType"].ToString();
        if (topicType == TopicType.Public)
        {
            topicType2 = TopicType.Personal;
            topicTypeText2 = "Personal";
        }
        else if (topicType == TopicType.Personal)
        {
            topicType2 = TopicType.Public;
            topicTypeText2 = "Public";
        }
    }


}

<div id="items">
    <script type="text/javascript" src="~/notifications.js"></script>

    @if (isAdminAuthentificated || isUserAuthentificated)
    {
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <form asp-controller="Home" asp-action="IndexAjax"
                      asp-fragment="searchParam"
                      data-ajax="true"
                      data-ajax-method="GET"
                      data-ajax-mode="replace"
                      data-ajax-update="#items">

                    <div class="row">
                        <div class="col-sm">
                            <label>Select Tests:</label>
                            <select class="form-control" id="topicType" name="topicType">
                                <option value="@topicTypeText">@topicTypeText</option>
                                <option value="@topicTypeText2">@topicTypeText2</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <label>Name:</label>
                            <input type="text" name="Search" value="@search" class="form-control">
                        </div>
                        <div class="col-sm">
                            <label>Filter:</label>
                            <input type="submit" value="Filter" id="filter" onclick="filterClick()" style="width: auto;" class="form-control btn-success" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="p-2 bd-highlight">
                <div class="spinner-border" role="status" id="spinner" style="display:none">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <paging total-records="topicsCount"
                page-no="page"
                page-size="size"
                query-string-key-page-no="Page"
                query-string-key-page-size="Size"
                query-string-value="1"
                ajax="true"
                ajax-url="/Home/IndexAjax?TopicType=@topicType&@searchParam"
                ajax-update="#items"
                ajax-loading="#spinner"
                show-page-size-nav="true"
                max-displayed-pages="5"
                page-size-dropdown-items="5-15-30">
        </paging>
    }
    else
    {
        <div>
            Вас приветствует система тестирования.
            Чтобы пройти тестирование - нужно зарегистрироваться.
        </div>
        <hr />
        <a href="/Account/Register">Register </a><span>|</span><a href="/Account/Login"> Login</a>
    }


    @if (isAdminAuthentificated)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th scope="col">
                        Passing Points
                    </th>
                    <th scope="col">
                        Topic Type
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.IsLocked)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var topic in Model)
                {
                    <tr>
                        <td style="word-wrap: break-word">
                            @Html.ActionLink(topic.Name, "ShowTestsInTopicToAdmin", "Test",
                                        new { @TopicId = topic.Id, @Page = page, @Size = size },
                                        new { @class = "" })
                        </td>
                        <td>
                            @topic.PassingPoints
                        </td>
                        <td>
                            @topic.TopicType
                        </td>
                        <td>
                            @if (topic.IsLocked)
                            {
                                <div>
                                    <span id="buttonLockStatus@(topic.Id)">(locked)</span>
                                    <button id="buttonLock@(topic.Id)"
                                            onclick="lockClick('/Test/LockTopic?TopicId=@topic.Id&IsLocked=@false', @(topic.Id))">
                                        unlock
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <span id="buttonLockStatus@(topic.Id)">(unlocked)</span>
                                    <button id="buttonLock@(topic.Id)"
                                            onclick="lockClick('/Test/LockTopic?TopicId=@topic.Id&IsLocked=@true', @(topic.Id))">
                                        lock
                                    </button>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (isUserAuthentificated)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Topic.Name)
                    </th>
                    <th scope="col">
                        Passing Points
                    </th>
                    <th scope="col">
                        Your Points
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userTopic in Model)
                {
                    <tr>
                        <td style="word-wrap: break-word">
                            @Html.ActionLink(userTopic.Topic.Name, "ShowTestsInTopicToUser", "Test",
                                        new { @TopicId = userTopic.Topic.Id, @Search = search, @Page = page, @Size = size },
                                        new { @class = "" })
                        </td>
                        <td>
                            @userTopic.Topic.PassingPoints
                        </td>
                        <td>
                            @userTopic.Points
                        </td>
                        <td>
                            @if (userTopic.Status == TopicStatus.Finished)
                            {
                                <span>Finished</span>
                            }
                            else if (userTopic.Status == TopicStatus.NotStarted)
                            {
                                <span>Not Started</span>
                            }
                            else if (userTopic.Status == TopicStatus.NotFinished)
                            {
                                <span>Not Finished</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (isAdminAuthentificated || isUserAuthentificated)
    {
        <paging total-records="topicsCount"
                page-no="page"
                page-size="size"
                query-string-key-page-no="Page"
                query-string-key-page-size="Size"
                query-string-value="1"
                ajax="true"
                ajax-url="/Home/IndexAjax?TopicType=@topicType&@searchParam"
                ajax-update="#items"
                ajax-loading="#spinner"
                show-page-size-nav="true"
                max-displayed-pages="5"
                page-size-dropdown-items="5-15-30">
        </paging>
    }

</div>