@model IEnumerable<TestSystem.Web.Models.TopicModel>

@{
    ViewData["Title"] = "Home Page";

    int? currentTopicId = null;
    if (ViewData.ContainsKey("TopicId"))
    {
        currentTopicId = int.Parse(ViewData["TopicId"].ToString());
    }

    int page = 1;
    if (ViewData.ContainsKey("Page"))
    {
        page = int.Parse(ViewData["Page"].ToString());
    }

    int size = 5;
    if (ViewData.ContainsKey("Size"))
    {
        size = int.Parse(ViewData["Size"].ToString());
    }

    int topicsCount = 0;
    if (ViewData.ContainsKey("TopicsCount"))
    {
        topicsCount = int.Parse(ViewData["TopicsCount"].ToString());
    }

    string search = string.Empty;
    if (ViewData.ContainsKey("Search"))
    {
        search = ViewData["Search"].ToString();
    }

    string searchParam = string.Empty;
    if (!string.IsNullOrWhiteSpace(search))
    {
        searchParam = $"Search={search}";
    }

    bool isAdminAuthentificated = (await AuthorizationService.AuthorizeAsync(User, "OnlyForAdmins")).Succeeded;
    bool isUserAuthentificated = (await AuthorizationService.AuthorizeAsync(User, "OnlyForUsers")).Succeeded;
}

<div id="items">
    @if (isAdminAuthentificated || isUserAuthentificated)
    {
        <h1 class="display-4 font-weight-normal d-flex justify-content-center">Topics</h1>

        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <form asp-controller="Home" asp-action="IndexAjax"
                      asp-fragment="searchParam"
                      data-ajax="true"
                      data-ajax-method="GET"
                      data-ajax-mode="replace"
                      data-ajax-update="#items">
                    <p>
                        Name: <input type="text" name="Search" value="@search">
                        <input type="submit" value="Filter" id="filter" />
                    </p>
                </form>
            </div>
            <div class="p-2 bd-highlight">
                <div class="spinner-border" role="status" id="spinner" style="display:none">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <paging total-records="topicsCount"
                page-no="page"
                page-size="size"
                query-string-key-page-no="Page"
                query-string-key-page-size="Size"
                ajax="true"
                ajax-url="/Home/IndexAjax?@searchParam"
                ajax-update="#items"
                ajax-loading="#spinner"
                show-page-size-nav="true"
                max-displayed-pages="5"
                page-size-dropdown-items="5-15-30">
        </paging>
    }
    else
    {
        <div>
                To pass the tests - you need to register.
        </div>
        <hr />
        <a href="/Account/Register">Register </a><span>|</span><a href="/Account/Login"> Login</a>
    }

    @if (isAdminAuthentificated)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PassingPoints)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.IsLocked)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var topic in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(topic.Name, "ShowTestsInTopicToAdmin", "Test",
                                        new { @TopicId = topic.Id, @Page = page, @Size = size },
                                        new { @class = "" })
                        </td>
                        <td>
                            @topic.PassingPoints
                        </td>
                        <td>
                            @if (topic.IsLocked)
                            {
                                <div>
                                    <button id="buttonLock@(topic.Id)" 
                                            onclick="sendAjax('/Test/LockTopic?TopicId=@topic.Id&IsLocked=@false', @(topic.Id))">
                                    UnLock</button>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <button id="buttonLock@(topic.Id)" 
                                            onclick="sendAjax('/Test/LockTopic?TopicId=@topic.Id&IsLocked=@true', @(topic.Id))">
                                    Lock</button>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (isUserAuthentificated)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Topic.Name)
                    </th>
                    <th scope="col">
                        Passing Points
                    </th>
                    <th scope="col">
                        Your Points
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userTopic in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(userTopic.Topic.Name, "ShowTestsInTopicToUser", "Test",
                                        new { @TopicId = userTopic.Topic.Id, @Search = search, @Page = page, @Size = size },
                                        new { @class = "" })
                        </td>
                        <td>
                            @userTopic.Topic.PassingPoints
                        </td>
                        <td>
                            @userTopic.Points
                        </td>
                        <td>
                            @if (userTopic.Status == TopicStatus.Finished)
                            {
                                <span>Finished</span>
                            }
                            else if (userTopic.Status == TopicStatus.NotStarted)
                            {
                                <span>Not Started</span>
                            }
                            else if (userTopic.Status == TopicStatus.NotFinished)
                            {
                                <span>Not Finished</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }


    @if (isAdminAuthentificated || isUserAuthentificated)
    {
        <paging total-records="topicsCount"
                page-no="page"
                page-size="size"
                query-string-key-page-no="Page"
                query-string-key-page-size="Size"
                query-string-value="a=1"
                ajax="true"
                ajax-url="/Home/IndexAjax?@searchParam"
                ajax-update="#items"
                ajax-loading="#spinner"
                show-page-size-nav="true"
                max-displayed-pages="5"
                page-size-dropdown-items="5-15-30">
        </paging>
    }
</div>


<script>
    $("#filter").click(function () {
        $("#spinner").css('display', 'inline-block');;
    });



    function sendAjax(url, loaderId) {
        $.ajax({
            //beforeSend: function () {
            //    $('#' + loaderId).show();
            //},
            type: "get",
            url: url,
            success: function (data) {

                var topicId = data['topicId'];
                var isLocked = data['isLocked'];

                if (isLocked) {
                    $('#buttonLock' + topicId).attr("onclick", `sendAjax('/Test/LockTopic?TopicId=${topicId}&IsLocked=false', ${loaderId})`).text("UnLock");
                }
                else {
                    $('#buttonLock' + topicId).attr("onclick", `sendAjax('/Test/LockTopic?TopicId=${topicId}&IsLocked=true', ${loaderId})`).text("Lock");
                }
                //$('#' + loaderId).hide();
            }
        });
    }
</script>