@model TestSystem.Web.Models.AnswerModel

@{
    Layout = "_LayoutSideBar";

    ViewData["Title"] = "Create Answer";

    int testId = 0;
    if (ViewData.ContainsKey("TestId"))
    {
        int.TryParse(ViewData["TestId"].ToString(), out testId);
    }

    int questionId = 0;
    if (ViewData.ContainsKey("QuestionId"))
    {
        int.TryParse(ViewData["QuestionId"].ToString(), out questionId);
    }

    string questionType = string.Empty;
    if (ViewData.ContainsKey("QuestionType"))
    {
        questionType = ViewData["QuestionType"].ToString();
    }

    int? topicId = null;
    if (ViewData.ContainsKey("TopicId"))
    {
        topicId = int.Parse(ViewData["TopicId"].ToString());
    }
}

<h4 class="d-flex justify-content-center">Create Answer</h4>
<hr />

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-controller="Test" asp-action="CreateAnswer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@questionType" class="control-label question-text-style">QuestionType: <span class="text-primary">@questionType</span></label>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            @if (questionType == QuestionTypes.Option)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                    </label>
                </div>
            }
            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <input asp-for="TestId" class="form-control" />
                <span asp-validation-for="TestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <input asp-for="QuestionId" class="form-control" />
                <span asp-validation-for="QuestionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="QuestionType" class="form-control" hidden value="@questionType" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Answers", "EditQuestion", "Test",
        new { @TopicId = topicId,  @TestId = testId, @QuestionId = questionId, @QuestionType = questionType }, new { @class = "btn btn-secondary" })
</div>