@model IEnumerable<TestSystem.Web.Models.QuestionModel>

@{
    ViewData["Title"] = "Edit Tests";

    int testId = 0;
    if (ViewData.ContainsKey("TestId"))
    {
        int.TryParse(ViewData["TestId"].ToString(), out testId);
    }

    int? topicId = null;
    if (ViewData.ContainsKey("TopicId"))
    {
        topicId = int.Parse(ViewData["TopicId"].ToString());
    }
}

<h4 class="d-flex justify-content-center">@ViewData["TestName"]</h4>

<p>
    @Html.ActionLink("Create new Question", "CreateQuestion", "Test",
        new { @TopicId = topicId, @TestId = testId }, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLocation)
            </th>
            <th>
               Edit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.ImageLocation))
                    {
                        <img src="@item.ImageLocation" alt="Image not loaded" height="100" width="100" />
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditQuestion", "Test",
                    new { @TopicId = topicId, @TestId = item.TestId, @QuestionId = item.Id, @QuestionType = item.QuestionType }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to Tests", "ShowTestsInTopicToAdmin", "Test", new { @TopicId = topicId, @TestId = testId }, new { @class = "btn btn-secondary" })
</div>