@model IEnumerable<TestSystem.Web.Models.TestModel>

@{
    ViewData["Title"] = "Tests";

    int topicId = int.Parse(ViewData["TopicId"].ToString());
}

<h4>Tests</h4>
<p>
    @Html.ActionLink("Create new Test", "CreateTest", "Test", new { @TopicId = topicId }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minutes)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Minutes)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTest", "Test", new { @TopicId = topicId, @TestId = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
