@model IEnumerable<TestSystem.Web.Models.UserTestModel>

@{
    ViewData["Title"] = "Tests";

    int topicId = int.Parse(ViewData["TopicId"].ToString());

    int page = 1;
    if (ViewData.ContainsKey("Page"))
    {
        page = int.Parse(ViewData["Page"].ToString());
    }

    int size = 5;
    if (ViewData.ContainsKey("Size"))
    {
        size = int.Parse(ViewData["Size"].ToString());
    }

    int topicsCount = 0;
    if (ViewData.ContainsKey("TopicsCount"))
    {
        topicsCount = int.Parse(ViewData["TopicsCount"].ToString());
    }

    string search = string.Empty;
    if (ViewData.ContainsKey("Search"))
    {
        search = ViewData["Search"].ToString();
    }

    string searchParam = string.Empty;
    if (!string.IsNullOrWhiteSpace(search))
    {
        search = $"Search={search}";
    }
}

<h4 class="d-flex justify-content-center">Tests</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestName)
                </td>

                @if (item.Status == TestStatus.NotStarted)
                {
                    <td>
                        <span class="text-primary points-text-style">Not Started</span>
                        @Html.ActionLink("Start", "StartTest", "Test", new { @TopicId = topicId, @TestId = item.TestId }, new { @class = "btn btn-primary" })
                    </td>
                }
                else if (item.Status == TestStatus.NotFinished)
                {
                    <td>
                        <span class="text-warning points-text-style">Not Finished</span>
                        @Html.ActionLink("Continue", "StartTest", "Test", new { @TopicId = topicId, @TestId = item.TestId }, new { @class = "btn btn-primary" })
                    </td>
                }
                else if (item.Status == TestStatus.Finished)
                {
                    <td>
                        <span class="text-success points-text-style">Finished</span>,
                        Your points for test: <span class="points-text-style">@item.Points</span>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to Topics", "Index", "Home", new { @TopicId = topicId, @Page = page, @Size = size }, new { @class = "btn btn-secondary" })
</div>